.tag{
	position: absolute;
	
	background-color: rgba(255, 0, 0, 0.7);
	width: 10px;
    height: 10px;
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    

}

.tag:hover{
	background-color: rgba(255, 0, 0, 1);
	cursor: pointer;
	width: 15px;
    height: 15px;
    font-size: 15px;
}

.wrapper{
	position: relative;
	/*border-style: dotted;*/
	margin: 80px;
}

.canvas{
	
	cursor: crosshair;

}
